# Ignore everything (stupid)
*

# But not directories
!*/

# Re-include stuff
!*.sh
!*.pattern
!*.h
!*.cpp
!*.py
!*.atsln
!*.componentinfo.xml
!*.cppproj

# Ignore object files, dependency files, and other build artifacts
*.o
*.d
*.hex
*.map
*.lst
*.bin
*.eep
*.elf

# Ignore VSCode directory
.vscode/

# Ignore bitmap files
*.bmp

# Ignore png
*.png

