# Ignore everything
*

# But not directories
!*/

# Re-include .sh scripts
!*.sh

# Ignore object files, dependency files, and other build artifacts
*.o
*.d
*.hex
*.map
*.lst
*.bin
*.eep
*.elf

# Ignore VSCode directory
.vscode/

# Ignore bitmap files
*.bmp

